body {
  text-align: center;
  align-items: center;
  font-family: "Ubuntu";
  background-color: #f2efe9;
}
h1 {
  font-size: 8vw;
  font-family: "Poppins", Sans-serif;
  padding-top: 3.5vw;
}

h2 {
  font-family: poppins;
  font-weight: 800;
  font-size: 3.5vw;
  margin-top: 0.85vw;
  color: #E9EBE8;

}
h5{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
      font-size: 1.5vw;
      margin-top: 0.85vw;
      margin-left: 3.4vw;
      margin-right: 3.4vw;
      color: #4C4B63;
}

.front-image {
  display: block;
  margin: auto;
  height: 100vh;
  vertical-align: middle;
}
/* If the page width is too small */

.inBack {
  opacity: 0.5;
}

.front-div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.round {
  border: solid;
  border-width: 0.08vw;
  border-color: black;
  text-align: center;
  position: relative;
  bottom: 95vh;
  left: 3.12vw;
  /* width: 500px; */
  height: 35vw;
  width: 35vw;
  border-radius: 50%;
  font-size: 50px;
  color: #00000;
  /* line-height: 500px; */
  background: #ABA8B2;
}




/* Everything in the background */
.round-lrg {

  border: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;
  position: relative;
  top: 4vh;
  left: 7.125vw;
  /* width: 500px; */
  height: 40vw;
  width: 40vw;
  border-radius: 50%;
  font-size: 50px;
  color: #00000;
  /* line-height: 500px; */
  background: #ABA8B2;
}

.info-photo {
  border: solid;
  border-color:black;
  height: 80%;
  position: absolute;
  bottom:10%;
  right: 10px;
  border-radius: 5%;

}

.carousel{
  background-color: #4C4B63;
  border: solid;
  border-width: 2vw;
  border-color: #4C4B63;
  border-radius: 5%;
  height: 40.83vw;
  width: 50.25vw;
  position: absolute;
  top:4vh;
  right: 6vw;
}

.carousel-item {

  height: 36.83vw;
  width: 46.25vw;
}
.carousel-item .w-100{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);


}
.carousel-item .h-100{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.info-title {
  margin-top: 9.375vw;
}

.hide {
  opacity: 0;
}
.hiddenPhoto{
  pointer-events: none;
}
